on init-start
    # XXX: MTD kernel modules should be loaded before early init
    insmod /lib/modules/tcc_nand.ko
    insmod /lib/modules/tcc_mtd.ko
    insmod /lib/modules/tcc_ndd.ko

on boot
    setprop ro.crypto.keyfile.userdata /dev/block/mtdblock5
