
/dev/block/ndda9	0460	radio		diag
/dev/block/ndda10	0666	root		video
/dev/ump		0666	system		system
/dev/mali		0666	system		system
/dev/jpegenc		0666	root		video
/dev/jpegdec		0666	root		video
/dev/video0		0666	root		video
/dev/video1		0666	root		video
/dev/graphic		0666	root		video
/dev/scaler		0666	root		video
/dev/scaler1		0666	root		video
/dev/scaler2		0666	root		video
/dev/wmixer		0666	root		video
/dev/tcc_intr		0666	root		video
/dev/tcc-intr-bc	0666	system		system
/dev/overlay		0666	root		video
/dev/overlay1		0666	root		video
/dev/i2c-0		0666	root		video
/dev/i2c-1		0666	root		video
/dev/i2c-2		0666	root		video
/dev/i2c-3		0666	root		video
/dev/i2c-4		0666	root		video
/dev/i2c-5		0666	root		video
/dev/CEC		0666	root		video
/dev/hdmi		0666	root		video
/dev/composite		0666	root		video
/dev/component		0666	root		video
/dev/audio		0666	root		video
/dev/hpd		0666	root		video
/dev/viqe		0666	root		video
/dev/spidev0.0		0666	system		system
/dev/tcc-tsif		0666	system		system
/dev/tcc_dxb_ctrl	0666	system		system
/dev/tcc-remote		0666	system		system
/dev/tmem		0666	system		system
/dev/vpu		0666	system		system
/dev/vpu_mgr		0666	system		system
/dev/vpu_dec		0666	system		system
/dev/vpu_dec_ext 	0666 	system		system
/dev/vpu_enc		0666	system		system
/dev/tdmb_tuner		0666	system		system
/dev/bl			0666	system		system
/dev/tcc_bt_dev		0666	bluetooth	bluetooth
/dev/sensor		0666	system		system
/dev/clockctrl		0666	system		system
/dev/msensor		0666	system		system
/dev/akm8975_aot	0666	system		system
/dev/akm8975_dev	0666	system		system
/dev/cipher		0666	system		system
/dev/ccfb		0666	root		video
/dev/smartcard		0666	system		system
/dev/ttyTCC1		0777	system		system
#/dev/ttyTCC2		0777	system		system
#/dev/ttyTCC3		0777	system		system
/dev/rec_gpio		0666	system		system
/dev/rec_av_in		0666	system		system
/dev/fm				0666	system		system
/dev/rec_audio		0666	system		system
/dev/cam_av_io		0666	system		system
/dev/cs42l52_switch 0666	system		system